body {
  background: #F0EAD6;
}

hr {
  color: #D9D2B6;
}

.title {
  font-style: oblique; 
  font-size: 2em;
  font-weight: bold;
  margin: 2%;
}

.author {
  margin: 2%;
  font-size: 1.5em;
}

.abstract {
  font-style: italic;
  font-size: 1em;
  width: 50%;
  margin: 2%; 
  padding: 4px; 
}

/** every other row for each table */
tr:nth-child(even) {
  background: #DDBEA8;
}
